## 연속 데이터 타입

|타입명|기호|생성함수|특징|
|:---:|---|:---|:---|
|리스트|[]|list()| -순서(인덱스)가 있다. <br>-값이 중복되도 됨|
|딕셔너리|{}|dict()|-순서 없다. <br>-키와 값의 세트로 구성, 키는 중복 안됨|
|튜플|()|tuple()|-순서 (인덱스)가 있다. <br>-값 중복 됨<br>- 단순 묶음<br>- 수정, 추가, 삭제 불가 (read only)<br>-값을 단순히 묶는다|
|집합|{}|set()|-중복 없음(불가, 제거)<br>-순서없음|


## **향후 접하게 될 연속 데이터 타입**

|타입명|기호|특징|
|:---:|:---|:---|
|배열|ndrray|-numpy(수학/과학용)의 타입 <br>-데이터분석, 머신러닝<br>-구성원의 타입이 동일해야 함.|
|시리즈|Series|-1차원 구조 데이터, pandas <br>-데이터분석, 머신러닝<br>-구성원의 타입이 동일해야 함.|
|데이터프레임|DataFrame|-2차원 구조 데이터, pandas <br>-데이터분석, 머신러닝|
|텐서|Tensor|- 딥러닝의 자료 구조, tensorflow, pyTorch|




       
       ===데이터 분석
        - 배열
        - 시리즈
        - 데이터프레임
       
       === 딥러닝
        - 텐서

### 리스트

In [14]:
# 1. 리스트의 생성 및 기본 성질 
# 동적 생성 : 공간을 먼저 만들고, 향후 데이터를 동적 추가
a = list()
# 값 자체 확인, 타입 확인, 멤버 수 확인 
a, type(a), len(a)

([], list, 0)

In [3]:
# 데이터를 단순하게 넣어서 만드는 것은 가능
# 구조가 복잡한 데이터이면 구성하기가 어렵다.
a = list('abcd')
a

['a', 'b', 'c', 'd']

In [4]:
#정적 생성 : 만들 때 이미 데이터를 넣어서 만든다.
a = []
a, type(a), len(a)

([], list, 0)

In [8]:
a = [
    {
     'code' : 'USD',
    'price' : 1180
    },
    
    {
        'code' : 'EUR',
    'price' : 1430
    },
]
a

[{'code': 'USD', 'price': 1180}, {'code': 'EUR', 'price': 1430}]

In [9]:
# 임시 구성

numbers = [ 1, 3, 5, 7, 9 ]
numbers, type(numbers), len(numbers)

([1, 3, 5, 7, 9], list, 5)

In [11]:
foods = ['돈가스','햄버거','라면']
foods , type(foods), len(foods)

(['돈가스', '햄버거', '라면'], list, 3)

In [13]:
# 멤버의 구성원의 타입이 다르다. >> 괜춘 >> b/c 주소만 담으니까 
# 구성원간의 차원이 달라도 OK
data_mixs = [1,2,3,'햄버거', [3.14, '부산대역']]
data_mixs

[1, 2, 3, '햄버거', [3.14, '부산대역']]

In [19]:
# 2. 리스트 안에 특정 멤버값을 획득 >> 한놈만 획득 >> 인덱싱
# 정방향 인덱스는 0부터 출발, 3이라고 쓰면 >> 4번째 멤버
data_mixs[3]

'햄버거'

In [20]:
# 역방향은 -1 부터
data_mixs[-1]

[3.14, '부산대역']

In [21]:
# 5*3
len(data_mixs) * 3

15

In [22]:
#  [3.14, '부산대역']의 DATA가 2개이므로 len(data_mixs[-1]) = 2
len(data_mixs[-1]) * 3

6

In [23]:
# 슬라이싱  >> 차원 유지
# 변수 [시작인덱스:끝인덱스:step]

#3,5,7만 획득 
numbers[1:-1]

[3, 5, 7]

In [28]:
# 1,5,9을 획득하시오
numbers[::2]

[1, 5, 9]

In [29]:
# 전부 다 나오게 하는거
numbers[:]

[1, 3, 5, 7, 9]

In [30]:
# 전부 다 나오게 하는거
numbers[::1]

[1, 3, 5, 7, 9]

In [33]:
# 4. 수정 >> 원본 변경
# 멤버 한 개 수정
numbers[0] = 100
numbers

[100, 3, 5, 7, 9]

In [34]:
# 여러개 수정, 갯수따라 다양하게 변경된다.
numbers[1:-1]

[3, 5, 7]

In [40]:
# 연속형 데이터만 대입이 가능
# 기존 데이터는 날라가고, 새로운 데이터가 리스트 형태에 맞춰서 삽입
# 정확하게 계산하지 않으면 의도하지 않은 결과 획득
# 원본이 훼손되기 때문에 신중하게 처리, 사본 떠서 작업
# 원본 수정 >> numbers[1:-1] = "50"
# 사본 수정 >> numbers[:][1:-1] = "50"
numbers

[100, '5', '0', 9]

In [ ]:
# 5. 추가
# + 
# .append()
#.extend()
# 위의 세가지만 기억하기

In [43]:
# + >> 이어 붙이기
a = [1,2,3]
b = [4,5,6]
# 리스트 + 리스트 >> 더해서 사본을 return, 원본이 보존된다.
a,b, a+b, a , b

([1, 2, 3], [4, 5, 6], [1, 2, 3, 4, 5, 6], [1, 2, 3], [4, 5, 6])

In [44]:
# .append() >> 사전적 의미 : 추가하기 >> 대상 : 리스트의 멤버로 추가 >> 원본 수정
a.append(b)
a

[1, 2, 3, [4, 5, 6]]

In [45]:
a = [1,2,3]

In [46]:
#.extend() >> 동급으로 추가 >> 이어붙인다 >> 원본 조작 
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [ ]:
# 6. 삭제

In [48]:
del a[0]
a

[2, 3, 4, 5, 6]

In [49]:
del a[:2]
a

[4, 5, 6]

In [50]:
# clear() 는 완전 빈 집으로 만듦
a.clear()
a

[]

In [51]:
# 집도 날려버리기.
del a 
a

NameError: name 'a' is not defined

In [ ]:
#7. 반복문과 같이 처리, 리스트 내포 방식 >> 반복문에서 다룬다.

### 딕셔너리

- 딕셔너리의 모습이 타 언어에서는
- Java : Map, Javascript : js객체, ios : NSDictionary, 데이터형식 : json
- 호환성이 좋다!!(타 언어와 통신으로 연동시)

In [52]:
# 1. 딕셔너리 생성

# 정적 구성 >> 멤버를 직접 셋업하면서 생성하는 방식  
dic = {}
dic, type(dic), len(dic)

({}, dict, 0)

In [53]:
# 동적 구성 >> 차후에 데이터가 셋팅된다.
dic = dict()
dic, type(dic), len(dic)

({}, dict, 0)

In [60]:
# 2. 기본 생성
# 키:값, 키:값,.....
# 키는 함수를 제외하고는 이론적으로 모든 타입이 사용 가능
# 문자열, 수치를 주로 사용 
exchanges = {
    
    "na" : "미국",
    "code": "USD",
    "buy" : 1165.10,
    "sell" : 1185.48    
}
exchanges

{'na': '미국', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48}

In [61]:
# 3. 인덱싱 : 변수명[키]
# 키는 특정 데이터를 가르키는 고유 값 >> 중복되면 안된다. 
exchanges["na"]

'미국'

In [62]:
# 4. 수정 및 추가
#na라는 키가 있으면 수정, 없으면 추가 
exchanges["na"]  = "America"
exchanges

{'na': 'America', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48}

In [64]:
# 1이라는 숫자가 key가 됨
exchanges[1] = 'EUR'
exchanges

{'na': 'America', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48, 1: 'EUR'}

In [ ]:
# 5. 슬라이싱 >> 지원이 되지 않음 >> b/c 순서가 없다

In [65]:
# 6. 형태 및 데이터 확인
# 키만 
exchanges.keys()

dict_keys(['na', 'code', 'buy', 'sell', 1])

In [66]:
# 값만
exchanges.values()

dict_values(['America', 'USD', 1165.1, 1185.48, 'EUR'])

In [68]:
# 키와 값을 묶어서 >> 리스트 튜플 
exchanges.items()

dict_items([('na', 'America'), ('code', 'USD'), ('buy', 1165.1), ('sell', 1185.48), (1, 'EUR')])

In [70]:
# 이것이 프로그램적으로 더 안정적, 해당 키가 없을 때 함수 결과 반환하지 않음 

exchanges.get('na')

'America'

In [75]:
#7. 삭제
del exchanges['code']

In [76]:
exchanges

{'buy': 1165.1, 'sell': 1185.48, 1: 'EUR'}

### 튜플

In [77]:
# 1. 튜플 생성
# 정적 
tu = ()
tu, type(tu), len(tu)

((), tuple, 0)

In [78]:
#동적
tu = tuple()
tu, type(tu), len(tu)

((), tuple, 0)

In [81]:
# 2. 기본 데이터 설정 및 생성
# 멤버가 1개이면 반드시 ,를 붙여야 함 

tu = (1,)
tmp = (1) # , 안붙이면 의도하지 않은 타입으로 처리됨 
type(tu), type(tmp)

(tuple, int)

In [82]:
tu = (1,2,3,4,5)
tu, type(tu), len(tu)

((1, 2, 3, 4, 5), tuple, 5)

In [ ]:
#  값 변경, 데이터 추가, 데이터 삭제가 안됨 >> read only, immutable 이라고 부름

In [ ]:
# 3. 인덱싱, 슬라이싱 >> 리스트와 동일하다

In [83]:
tu[0], tu[:2]

(1, (1, 2))

In [84]:
# 튜플을 변수로 받기(리스트도 동일), 멤버 수와 동일하게
# 동일 숫자로 변수를 배치하지 않으면 오류 생김 
a,b,c,d,e = tu

In [87]:
b

2

In [86]:
a,b,c,d,e

(1, 2, 3, 4, 5)

In [88]:
# _ 의 의미 : 변수인데 안쓰겠다, 더미처리 (관습적 표현 )
a,b,c,d,_ = tu
_

5

In [91]:
# 줄여서 받는다
a,b,c,d = tu[:-1]
a,b,c,d

(1, 2, 3, 4)

In [93]:
# 튜플을 가장 많이 사용하는 곳은 함수의 return 값이 여러개일 때 >> 여러개를 return 하면 튜플로 반환된다.
def test():
    return 1,3

In [97]:
a,b = test()
a

1

In [98]:
print(a,b)

1 3

### 집합

- 중복 제거
- {값, 값, 값,........}
- 중간적인 형태

In [99]:
set("helloworld")

{'d', 'e', 'h', 'l', 'o', 'r', 'w'}

In [100]:
a = list(set("helloworld"))
a

['h', 'd', 'e', 'l', 'w', 'r', 'o']

In [101]:
a.sort()
a

['d', 'e', 'h', 'l', 'o', 'r', 'w']

In [104]:
# 합집합, 교집합, 차집합
a = set([3,5,7,2,1,3,6,7])
b = set([3,5,7,9,4,3,6,7])
a,b

({1, 2, 3, 5, 6, 7}, {3, 4, 5, 6, 7, 9})

In [105]:
# 합집합 >> 중복 제거
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 9}

In [106]:
# 교집합
a.intersection(b)

{3, 5, 6, 7}

In [107]:
#차집합
a.difference(b), b.difference(a)

({1, 2}, {4, 9})